/usr/local/nginx/logs/access.log /usr/local/nginx/logs/error.log {
        daily
        missingok
        sharedscripts
        postrotate
                /bin/kill -USR1 `cat /usr/local/nginx/logs/nginx.pid`
        endscript
}


